<div class="text-center">
    <h1 class="display-4">Name:- Devanshu Shah</h1>
    <h2>Subject :- .NET Core</h2>
    <h2>Assignment Lonely</h2>
    <h2>Batch :- A8</h2>
    <h2>Roll number :- 239</h2>
    <h2>Enrollment Number :- 21010101179</h2>
</div>
