@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model NiceAdminThemeImplementation.Areas.Country.Models.CountryModel;

<form method="post" asp-area="Country" asp-controller="Country" asp-action="AddCountry">
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <label for="exampleInputEmail1">Country Name</label>
        <input asp-for="CountryName" type="text" class="form-control" name="CountryName" placeholder="Enter Country Name">
        <span asp-validation-for="CountryName" class="text-danger"></span><small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Country Code</label>
        <input asp-for="CountryCode" type="text" class="form-control" id="exampleInputPassword1" placeholder="Country Code">
        <span asp-validation-for="CountryCode" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}