@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model MyFirstApplication.Areas.Validation.Models.ValidationModel
<form method="post" role="form" asp-area="Validation" asp-controller="Validation" asp-action="Index">
    <div class="form-group m-2">
        <label for="exampleFormControlInput1">Name</label>
        <input type="text" class="form-control" asp-for="Name" id="exampleFormControlInput1" placeholder="Enter name here">
        <span asp-validation-for="Name"> </span>
    </div>
    <div class="form-group m-2">
        <label for="exampleFormControlInput1">Email address</label>
        <input type="text" class="form-control" asp-for="EmailAddress" id="exampleFormControlInput1" placeholder="name@example.com">
        <span asp-validation-for="EmailAddress"> </span>
    </div>
    <div class="form-group m-2">
        <label for="exampleFormControlInput1">Phone Number</label>
        <input type="text" class="form-control" asp-for="PhoneNumber" id="exampleFormControlInput1" placeholder="Enter Phone Number here">
        <span asp-validation-for="PhoneNumber"> </span>
    </div>
    <div class="form-group m-2">
        <label for="exampleFormControlInput1">Password</label>
        <input type="text" class="form-control" asp-for="Password" id="exampleFormControlInput1" placeholder="Enter Password here">
        <span asp-validation-for="Password"> </span>
    </div>
    <button type="submit">Submit</button>
</form>
@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}